.body {
  background-color: #f9fafc;
  height: 100vh;
  width: 100%;
}

form {
  max-width: 450px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  text-align: center;
  height: 30rem;

  h4 {
    padding: 30px 0 30px 0;
  }
}

.bg-success {
  margin-top: 1rem;
}

.or {
  margin: 20px 0 20px 0;
}

.mb-3 {
  width: 90%;
  margin: 0 auto;
}

button {
  color: white;
  width: 90%;
  cursor: pointer;
}

.google {
  margin: 0 auto;
  border-radius: 5px;
  width: 90%;
  border: 1px solid #adb5bd;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .google-logo {
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }
}

.google a {
  color: black;
  text-decoration: none;
}
