<!--<div class="body">-->
<!--  <header>-->
<!--    <div class="logo">-->
<!--      <a [routerLink]="['/']">Trello</a>-->
<!--    </div>-->
<!--    <div class="auth">-->
<!--      <nav>-->
<!--      <ul>-->
<!--        <li>-->
<!--          <a [routerLink]="['login']">Log in</a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a [routerLink]="['singup']">Sing up</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--      </nav>-->
<!--    </div>-->
<!--  </header>-->

<!--  <main>-->

<!--  </main>-->
<!--</div>-->


<nav class="navbar bg-primary">
  <h1> Trello </h1>

  <ul>
    <li routerLinkActive="active">
      <a [routerLink]="['login']">Log in</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['singup']">Sing up</a>
    </li>
  </ul>
</nav>
