.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px 0 20px;
}

.boards {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;

    .board {
        // border: 1px solid red;
        width: 250px;
        height: 10rem;
        background-color: yellow;
    }
}

.delete {
    cursor: pointer;
}

.card-body {
    display: flex;
    justify-content: space-between;

    .card-text {
        cursor: pointer;
    }
}

.form {
    display: flex;

    border-radius: 0 10px 10px 0px;
    margin: 20px 0;

    button {
        margin-left: 10px;
        width: 30px;
        font-size: 30px;
        // border: 1px solid red;
        background-color: #fff;
        border: none;
        // border-radius: 0 10px 10px 0px;
    }
}
