<header>Header</header>

<main class="main">
    <div class="wrapper">
        Ваши доски рабочего пространства
        
        <div class="boards">
            <app-board></app-board>
            <app-board></app-board>
            <app-board></app-board>
            <!-- <div class="board">
                title
            </div>
            <div class="board">
                title
            </div>
            <div class="board">
                title
            </div>
            <div class="board">
                create
            </div> -->
        </div>
    </div>
</main>