<header>
    <div class="header-left">
        <span class="material-icons">
            <a routerLink='boards'>dashboard</a>
        </span>

        <span class="trello">
            Trello
        </span>

        <div class="search">
            <span class="material-icons">search</span>
            <input type="text" placeholder="Поиск">
        </div>
    </div>

    <div class="header-right">
        <div class="avatar">
<!--            {{userName[0].toUpperCase() + userName[1]}}-->
        </div>

        <span class="material-icons" (click)=logout()>logout</span>
    </div>
</header>


<router-outlet></router-outlet>
