:root {
  //--primary-color: #4257b2;
  //--dark-color: #333333;
  //--light-color: #f4f4f4;
  //--danger-color: #dc3545;
  --success-color: #61bd4f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
