<div class="body">
    <div class="menu">
        <span class="title-board">Стажировка</span>
        <div class="avatar">SH</div>
        <span class="invite">Пригласить</span>
    </div>

    <main>
        
        <div class="column">
            <h4>To Do</h4>

            <div class="tasks">

                <div class="card">
                    <div class="card-body">task1</div>
                </div>

                <div class="card">
                    <div class="card-body">task2</div>
                </div>

                <div class="card">
                    <div class="card-body">task3</div>
                </div>

                <div class="card">
                    <div class="card-body">task4</div>
                </div>
            </div>

            <div class="add-card">
                + Добавить карточку
            </div>
        </div>

        <div class="column">
            <h4>In Progress</h4>

            <div class="tasks">
                  <div class="card">
                    <div class="card-body">task1</div>
                </div>

                <div class="card">
                    <div class="card-body">task2</div>
                </div>
            </div>

            <div class="add-card">
                + Добавить карточку
            </div>
        </div>

        <div class="column">
            <h4>Coded</h4>

            <div class="tasks">
                <div class="card">
                    <div class="card-body">task1</div>
                </div>
            </div>

            <div class="add-card">
                + Добавить карточку
            </div>
        </div>

        <div class="column">
            <h4>Testing</h4>

            <div class="tasks">
                <div class="card">
                    <div class="card-body">task1</div>
                </div>

                <div class="card">
                    <div class="card-body">task2</div>
                </div>

                <div class="card">
                    <div class="card-body">task3</div>
                </div>
            </div>

            <div class="add-card">
                + Добавить карточку
            </div>
        </div>

        <div class="column">
            <h4>Done</h4>

            <div class="tasks">
                <div class="card">
                    <div class="card-body">task1</div>
                </div>

                <div class="card">
                    <div class="card-body">task2</div>
                </div>

                <div class="card">
                    <div class="card-body">task3</div>
                </div>

                <div class="card">
                    <div class="card-body">task4</div>
                </div>
            </div>

            <div class="add-card">
                + Добавить карточку
            </div>
        </div>
        
    </main>
</div>
