<header>
    <!-- <div class="boards">
        Доски
    </div>
    <div class="title">
        Trello
    </div> -->
    <div class="search">
        <span class="search-icon">

            <i class="fas fa-search"></i>
        </span>
        <input type="text" placeholder="Поиск">
    </div>
    <div class="avatar">
        SH
    </div>
</header>

<div class="body">
    <div class="menu">menu</div>
    <main>
        card

        <!-- {{columns | json}} -->
    </main>
</div>

<!-- 
<mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon> -->

<div class="card">
    <div class="card-title">To do</div>
    <span>...</span>
</div>