header {
    height: 5vh;
    width: 100%;

    background-color: #d2d8e2;
}

.body {
    height: 95vh;
    width: 100%;
    background-image: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2400x1600/2e1fb0a799f60366577d27f34f98aed8/photo-1627719736178-dfadf8f370d9.jpg");
}
